{% extends 'base.html' %}
{% block title %}Edit Profile{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow p-4" style="max-width: 600px; margin: auto; border-radius: 15px;">
        <h3 class="text-center mb-4">Edit Your Profile</h3>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success w-100 mt-2">Save Changes</button>
        </form>
        
    </div>
</div>
{% endblock %}
